<!DOCTYPE html>
{% load static %}
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Regístrate</h1>
        <form method="post" class="register-form" id="registerForm">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_username">Nombre completo <span class="required"></span></label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_email">Correo estudiantil <span class="required"></span></label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_codigo">Código de estudiante <span class="required"></span></label>
                {{ form.codigo }}
                {% if form.codigo.errors %}
                    <div class="error">{{ form.codigo.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_telefono">Número telefónico (con código de área) <span class="required"></span></label>
                {{ form.telefono }}
                {% if form.telefono.errors %}
                    <div class="error">{{ form.telefono.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_password">Contraseña <span class="required"></span></label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error">{{ form.password.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_confirm_password">Confirmar Contraseña <span class="required"></span></label>
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div class="error">{{ form.confirm_password.errors.0 }}</div>
                {% endif %}
            </div>

            <button id="register-button" type="submit" class="btn-submit">Registrarse</button>
        </form>

        <p class="redirect-text">
            ¿Ya tienes una cuenta?
            <a href="{% url 'login' %}">Inicia sesión aquí</a>
        </p>
    </div>
</body>
</html>
